body{
      font-family: 'Palanquin Dark', sans-serif;
    font-size: 2rem;
    letter-spacing: .15rem;
    vertical-align: middle;
    line-height: 24px;
}
.productImage {
  width: 60%;
  height: 300px;
  margin: 0 auto;
  margin: auto;
}

li.active.loginHeader {
    /*display: none;*/
}

.navbar-default {
  background-color: #25b0ad;
  border-color: #25b0ad;
}

.navbar-default .navbar-nav>li>a{
  color: #fff;
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 2rem;
  letter-spacing: .15rem;
  vertical-align: middle;
  line-height: 24px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #F7B733;
    background-color: transparent;
}

.dom-site-header{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Bungee';
  font-size: 50px;
  background: rgba(255, 187, 46, 0.76)
}

.dom-site-header a {
  color: #25b0ad;
  outline-color: #166462;
}

.dom-site-header a:hover {
    color: #0f827f;
    outline-color: #166462;
}

img.LogoImg {
    position: relative;
    z-index: 400;
    max-height: 78px;
    max-width: 108px;
}

a{
  text-decoration: none !important;
  color: #25b0ad;
  outline-color: #166462;
}

button, .button {
    border: 1px solid #059fb0;
    background: #059fb0;
    color: white;
    display: inline-block;
    width: 100%;
    margin-left: 0;
    padding: 10px 5px;
    /* background-color: #fff; */
    cursor: pointer;
    word-wrap: break-word;
}

button:hover, .button:hover {
    color: white;
    background-color: #166462;
    border-color: #166462;
}

.col-md-4{
  margin: auto;
  width: 33%;
  padding: 10px;
  text-align: center;
  padding: 20px;
}
.col-md-8{
  padding: 150px 0 0 150px;
}

.reviewSubject{
    font: italic 16px/1.5 "Avenir LT W02 45 Book",sans-serif;
    font-size: 1.6rem;
    letter-spacing: .06rem;
    color: #393940;
    margin-bottom: 20px;
}


li.review{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  margin: 0 0 55px;
  padding-top: 20px;
}

ul{
  list-style-type: none;
}

footer{
    text-align: center;
    position: relative;
}

.login-h2 {
    margin-bottom: 20px;
    font: 22px/1.3 "Avenir LT W02 65 Medium",sans-serif;
    font-size: 2.2rem;
    letter-spacing: .11rem;
    color: #393940;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #9c9992;
    padding: 0 30px 5px;
    text-align: center;
}

.deleteButton, .checkoutButton, .smallerButton{
     border: 1px solid #059fb0;
    background: #059fb0;
    color: white;
    display: inline-block;
    width: 20%;
    margin: 10px 20px;
    padding: 10px;
    /* background-color: #fff; */
    cursor: pointer;
    word-wrap: break-word;
}

.itemCart{
  margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    margin-bottom: 0;
    padding-top: 15px;
}

button.checkoutButton a, .button.checkoutButton a {
    color: white;
}

a.button.checkoutButton h2 {
    margin: 0;
    line-height: 1.2em;
    text-align: center;
}

.checkoutButton, .smallerButton{
  margin: 0;
}

.addressDetails input{
    display: block;
    margin: 10px 0;
}
